<div class='container'>
  <div class='row main'>

 
    <div class='col-lg-7 offset-lg-0 hidden-sm-down title-box'>
      
        
          <div class='row'>
            <h2 class='subtitle'>Conversor de moedas</h2>
          </div>
                    
          <div class='row'>
            <h3 class='subtitle'>na palma de sua mão!</h3>
          </div>
       
    </div>

    <div class='col-lg-3 offset-lg-1 col-md-10 offset-md-1 exchange_box'>
      <div class='row'>
          <div class='col-md-12 offset-md-0 text-center'>
            <%= image_tag '/logo.png', class: 'img-fluid'%>
          </div>
      </div>
 
      <div class='row'>
        <%= render 'exchange_box' %>
      </div>
    </div>
  </div>
</div>